:root {
  --primary: "Ubuntu", sans-serif;
  --secondary: "Raleway", sans-serif;
  --secondary-color: rgb(180, 233, 233);
  --primary-color: rgb(8, 121, 121);
}
/* HEADER*/
body {
  font-family: var(--secondary);
  margin: 10px;
  padding: 1ch;
  background-color: cadetblue;
}
#logo {
  height: 30%;
  width: 15%;
  display: inline;
}

#banner {
  padding-bottom: 1%;
  padding-top: 1%;
  height: 100px;
  width: 500px;
  display: inline;
}
#banner2 {
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 3%;
  height: 100px;
  width: 500px;
  display: inline;
}
#logo_span {
  background-color: aqua;
}
#nav_ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  font-family: var(--primary);
  font-size: 20px;
}

li {
  display: inline;
}

a {
  padding: 8px;
  color: rgb(82, 80, 80);
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: rgb(8, 121, 121);
}

#buss_title {
  background-color: rgb(8, 121, 121);
  font-family: var(--secondary);
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 110%;
  padding: 30px;
}

/* ABOUT SECTION */
.about {
  background-color: beige;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.grid_container {
  display: grid;
  grid-template-columns: 400px 300px 150px 150px 150px;
  gap: 40px;
  padding-top: 1cm;
  padding-bottom: 5cm;
}
.grid_item_slogan {
  position: flex;
  font-family: var(--primary);
  color: rgb(216, 83, 83);
  font-weight: bold;
  align-items: center;
  /* display: grid; */
  padding-left: 1cm;
  padding-top: 1cm;
  font-size: 20px;
  border: solid rgb(252, 147, 147);
  background-color: azure;
}

/* #grid_item_car_image {
  column-gap: 10%;
  padding-left: 0%;
  width: 50px;
  height: 100px;
  display: grid;
  float: left;
  margin-left: 0px px 0px 30px;
  padding-top: 20px;
  grid-row: 0;
  grid-column: 3;
} */
#slogan_paragraph {
  color: rgb(0, 0, 0);
  font-family: var(--secondary);
}

#grid_item_slogan_button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 15px 32px;
  margin-left: 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 50px;
  margin-top: 2cm;
}
#grid_item_slogan_button:hover {
  color: white;
  background-color: rgb(8, 121, 121);
}

#scrap1 {
  margin-left: 20px;
  border-radius: 50px;
}
#scrap2 {
  margin-left: 0px;
  border-radius: 50px;
  width: 300px;
}
#scrap3 {
  margin-left: 140px;
  border-radius: 50px;
  display: block;
}
/* .grid_item5 {
  padding-right: 3cm;
} */

/* SERVICES*/
.container_grid_services {
  display: grid;
  grid-template-rows: 300px 300px px 300px;
  margin-top: 3cm;
  height: 400px;
  align-content: center;
  font-size: large;
  gap: 10px;
}
.grid_service_one {
  margin-bottom: 0.5cm;
  background-color: rgb(229, 224, 235);
  padding: 30px;
  font-size: large;
  border-radius: 50px;
}
.grid_service_two {
  margin-bottom: 0.5cm;
  background-color: rgb(210, 216, 223);
  padding: 30px;
  font-size: large;
  border-radius: 50px;
}
.grid_service_three {
  display: block;
  margin-bottom: 0.5cm;
  background-color: rgb(241, 233, 229);
  padding: 30px;
  font-size: large;
  margin-bottom: 5cm;
  border-radius: 50px;
}

.grid_services_h3 {
  color: white;
  display: block;
  font-size: 30px;
  background-color: var(--primary-color);
  padding: 20px;
}

/* WORK*/

.container_grid_work {
  margin-top: 3cm;
  height: 400px;
  align-content: center;
  font-size: large;
}

.grid_work_one {
  background-color: rgb(237, 244, 248);
  padding: 30px;
  font-size: large;
  border-radius: 50px;
  margin-bottom: 00.5cm;
}
.grid_work_two {
  background-color: rgb(241, 245, 237);
  padding: 30px;
  font-size: large;
  border-radius: 50px;
  margin-bottom: 00.5cm;
}
.grid_work_three {
  background-color: rgb(238, 232, 228);
  padding: 30px;
  font-size: large;
  border-radius: 50px;
}
.grid_work_h3 {
  color: white;
  display: block;
  font-size: 30px;
  background-color: var(--primary-color);
  padding: 20px;
}

/*FOOTER*/
h5 {
  margin-top: 10cm;
  margin-bottom: 0cm;
  text-align: center;
  font-size: xx-large;
  color: white;
  padding-top: 7%;
}

.footer {
  background-color: rgb(70, 68, 68);
  align-items: center;
}

#footer_email {
  font-size: small;
  text-align: center;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-left: 35%;
  margin-bottom: 0%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  display: flexbox;
  border-radius: 100px;
}
#footer_email:hover {
}
#footer_phone {
  margin-top: 0%;
  font-size: small;
  text-align: center;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-left: 35%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  display: flexbox;
  border-radius: 100px;
}

/* general style*/
html {
  scroll-behavior: smooth;
}
